body {
  background: #dfdcdb;
  font-family: Andale Mono, serif;
}
.camp-form-container{
  background: white;
  border-radius: 5px;
  max-width: 700px;
  margin: auto;
  padding: 40px;
}
.margin-center {
  margin: auto;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  font-family: Andale Mono, serif;
  //background: #2E4158;
}

label{
  font-family: Andale Mono, serif;
  margin-top: 15px;
  font-weight: bold;
}

.custom-select {
  position: relative;
  font-family: Andale Mono, serif;
  background-color: #168d7e;
  color: white;
}
.btn-style {
  margin-top: 15px;
  float: right;
}

input {
  font-family: Andale Mono, serif;
}
.date-container {
  display: flex;
}
.date {
  margin-right: 20px;
}
.location-form {
  padding: 10px 0;

}