
body {
	background: #eee;	
}



.container-col-md {
    padding: 15px 35px 45px;
    margin: 0 auto;;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,0.1);  
    max-width: 380px;
}
// }
.field{
    text-align: center;
      font-size: 16px;
      font-family: 'Times New Roman', Times, serif;
      

    
}

// .form-signin-heading,
// 	.checkbox {
// 	  margin-bottom: 10px;
// 	}