@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
.App {
  display: flex;
  color: white; }

.App__Form {
  width: 100%;
  height: 100px;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto; }

.PageSwitcher {
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none; }

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white; }

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.FormCenter {
  margin-bottom: 100px; }

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px; }

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px; }

.FormTitle__Link:first-child {
  margin-left: 0; }

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087; }

.FormField {
  margin-bottom: 40px; }

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white; }

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px; }

.FormField__Input::placeholder {
  color: #616E7F; }

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500; }

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px; }

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em; }

.FormField__Checkbox {
  position: relative;
  top: 1.5px; }

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px; }

body {
  background: #fbf8f6;
  font-family: "Andale Mono", serif; }

.camp-form-container {
  background: white;
  border-radius: 5px;
  max-width: 800px;
  margin: 50px 400px;
  padding: 40px; }

.margin-center {
  margin: auto; }

h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  font-family: Andale Mono, serif;
  text-decoration: underline;
  color: #168d7e; }
  h3 span {
    color: #14103B; }

label {
  font-family: Andale Mono, serif;
  margin-top: 15px; }

input {
  width: 100%; }

.btn-div {
  width: 100%;
  text-align: center; }

.btn-style {
  width: 100%;
  text-align: center;
  background-color: white;
  color: #168d7e;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  float: right; }

.btn-style:hover {
  color: white;
  background: #168d7e;
  font-weight: bolder;
  text-decoration: none; }

.custom-select {
  position: relative;
  font-family: Andale Mono, serif;
  background-color: #168d7e;
  color: white; }

input {
  font-family: Andale Mono, serif;
  padding: 15px; }

.row {
  margin-bottom: 5px; }

.col-25 {
  margin-left: 15px;
  float: left;
  width: 30%;
  margin-top: 6px; }

.col-75 {
  float: left;
  width: 65%;
  margin-top: 6px; }

.row:after {
  content: "";
  display: table;
  clear: both; }

textarea {
  width: 490px;
  height: 300px;
  font-family: "Andale Mono", serif;
  padding: 15px; }

.date-container {
  display: flex; }

.date {
  margin-right: 30px; }

.location-form {
  padding: 10px 0; }

#root {
  position: relative; }

section {
  padding: 20px 0;
  display: block;
  margin-top: auto; }

#footer {
  background: #007b5e !important; }

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#footer ul.social li {
  padding: 3px 0; }

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff; }

#footer ul.social li a:hover {
  color: #eeeeee; }

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

#footer ul.quick-links li a i {
  margin-right: 5px; }

#footer ul.quick-links li:hover a i {
  font-weight: 700; }

#footer .container {
  height: 15vh; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px; } }
.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%; }

.btn-profile {
  text-align: center;
  background-color: #168d7e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bold;
  float: right;
  margin: 15px 0 0 15px; }
  .btn-profile:hover {
    text-decoration: none;
    color: #168d7e;
    background: white;
    border: solid #168d7e 1px;
    margin: 14px 0 0 14px; }

.text {
  margin: 0;
  width: 720px;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  font-family: Andale Mono, serif;
  text-decoration: underline;
  color: #168d7e; }
  .text span {
    color: black; }

.btn-delete {
  width: 100%;
  text-align: center;
  background-color: white;
  color: red;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  float: right; }
  .btn-delete:hover {
    color: white;
    background: red;
    font-weight: bolder;
    text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
