@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.App {
  display: flex;
  color: white; }

.App__Form {
  width: 100%;
  height: 100px;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto; }

.PageSwitcher {
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none; }

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white; }

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.FormCenter {
  margin-bottom: 100px; }

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px; }

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px; }

.FormTitle__Link:first-child {
  margin-left: 0; }

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087; }

.FormField {
  margin-bottom: 40px; }

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white; }

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px; }

.FormField__Input::placeholder {
  color: #616E7F; }

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500; }

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px; }

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em; }

.FormField__Checkbox {
  position: relative;
  top: 1.5px; }

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px; }

body {
  background: white;
  flex-direction: column;
  font-family: "Andale Mono"; }

#campaignForm .container {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
  height: 100vh; }
#campaignForm .flex-position {
  width: 600px;
  background: beige;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
#campaignForm .form-container {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
#campaignForm .camp-name {
  font-size: 40px; }
#campaignForm form {
  border-radius: 5px;
  padding: 20px;
  font-size: 20px; }
#campaignForm input {
  border: 1px solid white;
  font-size: 15px;
  border-radius: 1px;
  padding: 10px 10px;
  width: 500px; }
#campaignForm textarea {
  border: 1px solid white;
  font-size: 14px;
  border-radius: 1px;
  padding: 20px 10px;
  width: 500px; }
#campaignForm select {
  margin-bottom: 20px; }
#campaignForm .submit-btn {
  background: darkolivegreen;
  color: white;
  font-size: 14px;
  padding: 10px 20px; }
#campaignForm em {
  color: darkred; }
#campaignForm select {
  display: block;
  font-size: 15px;
  border: gold 2px solid;
  font-family: "Andale Mono";
  padding: 10px;
  width: 510px; }

#root {
  position: relative; }

section {
  padding: 20px 0;
  display: block;
  margin-top: auto; }

#footer {
  background: #007b5e !important; }

#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

#footer ul.social li {
  padding: 3px 0; }

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px; }

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff; }

#footer ul.social li a:hover {
  color: #eeeeee; }

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease; }

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700; }

#footer ul.quick-links li a i {
  margin-right: 5px; }

#footer ul.quick-links li:hover a i {
  font-weight: 700; }

#footer .container {
  height: 15vh; }

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px; } }

/*# sourceMappingURL=styles.css.map */
