.sb-avatar_image {
    vertical-align: middle !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: static;
    background-size: cover;
}
.element.style{
    background-size: cover !important;
}
img{
    background-size: cover !important;
}